In [58]:
# Importación de librerías
import pandas as pd
import numpy as np

# Rutas de los archivos
path_internet = 'C:/Users/Usuario/Desktop/DATA SCIENCE/PROYECTO_DA/data/raw/Internet.xlsx'
path_mapa_conectividad = 'C:/Users/Usuario/Desktop/DATA SCIENCE/PROYECTO_DA/data/raw/mapa_conectividad.xlsx'
path_telefonia_fija = 'C:/Users/Usuario/Desktop/DATA SCIENCE/PROYECTO_DA/data/raw/telefonia_fija.xlsx'
path_telefonia_movil = 'C:/Users/Usuario/Desktop/DATA SCIENCE/PROYECTO_DA/data/raw/Telefonia_movil.xlsx'

# Carga de hojas específicas del dataset Internet
internet_tecnologia_localidad = pd.read_excel(path_internet, sheet_name='Accesos_tecnologia_localidad')
internet_totales_tecnologia = pd.read_excel(path_internet, sheet_name='Totales Accesos Por Tecnología')
internet_accesos_tecnologia = pd.read_excel(path_internet, sheet_name='Accesos Por Tecnología')

# Carga de otros datasets
mapa_conectividad = pd.read_excel(path_mapa_conectividad)
telefonia_fija = pd.read_excel(path_telefonia_fija)
telefonia_movil = pd.read_excel(path_telefonia_movil)

# Exploración inicial de cada DataFrame
print("Internet Tecnología por Localidad")
print(internet_tecnologia_localidad.head())
print(internet_tecnologia_localidad.info())

print("\nTotales Accesos Por Tecnología")
print(internet_totales_tecnologia.head())
print(internet_totales_tecnologia.info())

print("\nAccesos Por Tecnología")
print(internet_accesos_tecnologia.head())
print(internet_accesos_tecnologia.info())

print("\nMapa de Conectividad")
print(mapa_conectividad.head())
print(mapa_conectividad.info())

print("\nTelefonía Fija")
print(telefonia_fija.head())
print(telefonia_fija.info())

print("\nTelefonía Móvil")
print(telefonia_movil.head())
print(telefonia_movil.info())

Internet Tecnología por Localidad
      Provincia     Partido   Localidad    Tecnologia Link Indec  Accesos
0  BUENOS AIRES  25 de Mayo  25 de Mayo          ADSL    6854100    755.0
1  BUENOS AIRES  25 de Mayo  25 de Mayo    CABLEMODEM    6854100   4600.0
2  BUENOS AIRES  25 de Mayo  25 de Mayo  FIBRA OPTICA    6854100      2.0
3  BUENOS AIRES  25 de Mayo  25 de Mayo     SATELITAL    6854100    742.0
4  BUENOS AIRES  25 de Mayo  25 de Mayo      WIRELESS    6854100    727.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7753 entries, 0 to 7752
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   7753 non-null   object
 1   Partido     7753 non-null   object
 2   Localidad   7753 non-null   object
 3   Tecnologia  7753 non-null   object
 4   Link Indec  7753 non-null   object
 5   Accesos     7747 non-null   float64
dtypes: float64(1), object(5)
memory usage: 363.5+ KB
None

Totales Accesos Por Tecnología
    Año  Trimestre     ADSL  Cablemodem  Fibra óptica  Wireless   Otros  \
0  2024          2   733491     5867504       4169958    593197  191957
1  2024          1   774475     5986957       4015101    598682  257941
2  2023          4   836390     6022532       3908183    585760  194796
3  2023          3   897895     6018832       3708718    581436  200027
4  2023          2  1006509     5997149       3463988    581823  202428

      Total        Periodo
0  11556107   Abr-Jun 2024
1  11633156   Ene-Mar 2024
2  11547661   Oct-Dic 2023
3  11406908  Jul-Sept 2023
4  11251897   Abr-Jun 2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           42 non-null     int64
 1   Trimestre     42 non-null     int64
 2   ADSL          42 non-null     int64
 3   Cablemodem    42 non-null     int64
 4   Fibra óptica  42 non-null     int64
 5   Wireless      42 non-null     int64
 6   Otros         42 non-null     int64
 7   Total         42 non-null     int64
 8   Periodo       42 non-null     object
dtypes: int64(8), object(1)
memory usage: 3.1+ KB
None

Accesos Por Tecnología
    Año Trimestre        Provincia      ADSL  Cablemodem  Fibra óptica  \
0  2024         2     Buenos Aires  214055.0   2722466.0     1849476.0
1  2024         2  Capital Federal   54102.0   1144781.0      230402.0
2  2024         2        Catamarca    4951.0     10303.0       58355.0
3  2024         2            Chaco    9448.0     57935.0       68944.0
4  2024         2           Chubut   25955.0     80704.0       26516.0

   Wireless    Otros      Total
0  138638.0  64745.0  4989380.0
1    4493.0  29821.0  1463599.0
2    1384.0     81.0    75074.0
3    8407.0   2358.0   147092.0
4   31118.0   9930.0   174223.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           1008 non-null   object
 1   Trimestre     1008 non-null   object
 2   Provincia     1007 non-null   object
 3   ADSL          1007 non-null   float64
 4   Cablemodem    1007 non-null   float64
 5   Fibra óptica  1007 non-null   float64
 6   Wireless      1007 non-null   float64
 7   Otros         1007 non-null   float64
 8   Total         1007 non-null   float64
dtypes: float64(6), object(3)
memory usage: 71.1+ KB
None

Mapa de Conectividad
      Provincia     Partido          Localidad  Población ADSL Cablemódem  \
0  BUENOS AIRES  25 de Mayo         25 de Mayo      23408   SI         SI
1  BUENOS AIRES  25 de Mayo    Agustín Mosconi        280   --         --
2  BUENOS AIRES  25 de Mayo          Del Valle        899   SI         --
3  BUENOS AIRES  25 de Mayo          Ernestina        145   SI         --
4  BUENOS AIRES  25 de Mayo  Gobernador Ugarte        547   --         --

  Dial Up Fibra óptica Satelital Wireless Telefonía Fija  3G  4G       Link  \
0      --           --        SI       SI             SI  SI  SI  6854100.0
1      --           --        --       --             SI  --  --  6854010.0
2      --           --        SI       --             --  SI  --  6854020.0
3      --           --        --       --             SI  --  --  6854030.0
4      --           --        --       SI             --  --  --  6854040.0

     Latitud   Longitud
0 -35.433939 -60.173121
1 -35.739217 -60.559063
2 -35.897345 -60.731609
3 -35.270234 -59.557503
4 -35.164397 -60.081358
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4305 entries, 0 to 4304
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4305 non-null   object
 1   Partido         4305 non-null   object
 2   Localidad       4305 non-null   object
 3   Población       4305 non-null   int64
 4   ADSL            4305 non-null   object
 5   Cablemódem      4305 non-null   object
 6   Dial Up         4305 non-null   object
 7   Fibra óptica    4305 non-null   object
 8   Satelital       4305 non-null   object
 9   Wireless        4305 non-null   object
 10  Telefonía Fija  4305 non-null   object
 11  3G              4305 non-null   object
 12  4G              4305 non-null   object
 13  Link            4293 non-null   float64
 14  Latitud         4305 non-null   float64
 15  Longitud        4305 non-null   float64
dtypes: float64(3), int64(1), object(12)
memory usage: 538.2+ KB
None

Telefonía Fija
    Año  Trimestre        Provincia  Accesos telefonía fija (total)  \
0  2024          2     Buenos Aires                         3147886
1  2024          2  Capital Federal                         1651854
2  2024          2        Catamarca                           20365
3  2024          2            Chaco                           53967
4  2024          2           Chubut                           54140

   Accesos telefonía fija (hogares)  Accesos telefonía fija (comercial)  \
0                           2793773                              299661
1                           1466033                              157247
2                             18074                                1939
3                             47897                                5137
4                             48049                                5154

   Accesos telefonía fija (gobierno)  Accesos telefonía fija (otros)
0                              12436                           42016
1                               6526                           22048
2                                 80                             272
3                                213                             720
4                                214                             723
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Año                                 1008 non-null   int64
 1   Trimestre                           1008 non-null   int64
 2   Provincia                           1008 non-null   object
 3   Accesos telefonía fija (total)      1008 non-null   int64
 4   Accesos telefonía fija (hogares)    1008 non-null   int64
 5   Accesos telefonía fija (comercial)  1008 non-null   int64
 6   Accesos telefonía fija (gobierno)   1008 non-null   int64
 7   Accesos telefonía fija (otros)      1008 non-null   int64
dtypes: int64(7), object(1)
memory usage: 63.1+ KB
None

Telefonía Móvil
    Año  Trimestre  Número de SMS salientes        Periodo
0  2013          1              36430004057   Ene-Mar 2013
1  2013          2              34255065773   Abr-Jun 2013
2  2013          3              33217669903  Jul-Sept 2013
3  2013          4              22547130953   Oct-Dic 2013
4  2014          1              18393198881   Ene-Mar 2013
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      46 non-null     int64
 1   Trimestre                46 non-null     int64
 2   Número de SMS salientes  46 non-null     int64
 3   Periodo                  46 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.6+ KB
None

In [59]:
# Limpieza de 'internet_tecnologia_localidad'
internet_tecnologia_localidad['Accesos'] = internet_tecnologia_localidad['Accesos'].fillna(0).astype(int)

internet_tecnologia_localidad.head()

      Provincia     Partido   Localidad    Tecnologia Link Indec  Accesos
0  BUENOS AIRES  25 de Mayo  25 de Mayo          ADSL    6854100      755
1  BUENOS AIRES  25 de Mayo  25 de Mayo    CABLEMODEM    6854100     4600
2  BUENOS AIRES  25 de Mayo  25 de Mayo  FIBRA OPTICA    6854100        2
3  BUENOS AIRES  25 de Mayo  25 de Mayo     SATELITAL    6854100      742
4  BUENOS AIRES  25 de Mayo  25 de Mayo      WIRELESS    6854100      727

In [60]:
# Limpieza de 'internet_totales_tecnologia'
internet_totales_tecnologia['Año'] = internet_totales_tecnologia['Año'].astype('category')
internet_totales_tecnologia['Trimestre'] = internet_totales_tecnologia['Trimestre'].astype('category')

internet_totales_tecnologia.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2024,2,733491,5867504,4169958,593197,191957,11556107,Abr-Jun 2024
1,2024,1,774475,5986957,4015101,598682,257941,11633156,Ene-Mar 2024
2,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
3,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
4,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023

In [61]:
# Limpieza de 'internet_accesos_tecnologia'
internet_accesos_tecnologia = internet_accesos_tecnologia.fillna(0)
internet_accesos_tecnologia[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros', 'Total']] = \
    internet_accesos_tecnologia[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros', 'Total']].astype(int)

internet_accesos_tecnologia.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,2,Buenos Aires,214055,2722466,1849476,138638,64745,4989380
1,2024,2,Capital Federal,54102,1144781,230402,4493,29821,1463599
2,2024,2,Catamarca,4951,10303,58355,1384,81,75074
3,2024,2,Chaco,9448,57935,68944,8407,2358,147092
4,2024,2,Chubut,25955,80704,26516,31118,9930,174223

In [62]:

# Limpieza de 'mapa_conectividad'
mapa_conectividad.replace({'SI': True, '--': False}, inplace=True)
mapa_conectividad[['ADSL', 'Cablemódem', 'Dial Up', 'Fibra óptica', 'Satelital', 'Wireless', 'Telefonía Fija', '3G', '4G']] = \
    mapa_conectividad[['ADSL', 'Cablemódem', 'Dial Up', 'Fibra óptica', 'Satelital', 'Wireless', 'Telefonía Fija', '3G', '4G']].astype(bool)
mapa_conectividad['Link'] = mapa_conectividad['Link'].fillna(0)

mapa_conectividad.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_4140\1871730711.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  mapa_conectividad.replace({'SI': True, '--': False}, inplace=True)

,Provincia,Partido,Localidad,Población,ADSL,Cablemódem,Dial Up,Fibra óptica,Satelital,Wireless,Telefonía Fija,3G,4G,Link,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,23408,True,True,False,False,True,True,True,True,True,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,280,False,False,False,False,False,False,True,False,False,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 de Mayo,Del Valle,899,True,False,False,False,True,False,False,True,False,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 de Mayo,Ernestina,145,True,False,False,False,False,False,True,False,False,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,547,False,False,False,False,False,True,False,False,False,6854040.0,-35.164397,-60.081358

In [63]:

# Limpieza de 'telefonia_fija'
telefonia_fija['Año'] = telefonia_fija['Año'].astype('category')
telefonia_fija['Trimestre'] = telefonia_fija['Trimestre'].astype('category')

telefonia_fija.head()

,Año,Trimestre,Provincia,Accesos telefonía fija (total),Accesos telefonía fija (hogares),Accesos telefonía fija (comercial),Accesos telefonía fija (gobierno),Accesos telefonía fija (otros)
0,2024,2,Buenos Aires,3147886,2793773,299661,12436,42016
1,2024,2,Capital Federal,1651854,1466033,157247,6526,22048
2,2024,2,Catamarca,20365,18074,1939,80,272
3,2024,2,Chaco,53967,47897,5137,213,720
4,2024,2,Chubut,54140,48049,5154,214,723

In [64]:
# Limpieza de 'telefonia_movil'
telefonia_movil['Año'] = telefonia_movil['Año'].astype('category')
telefonia_movil['Trimestre'] = telefonia_movil['Trimestre'].astype('category')

telefonia_movil.head()

    Año Trimestre  Número de SMS salientes        Periodo
0  2013         1              36430004057   Ene-Mar 2013
1  2013         2              34255065773   Abr-Jun 2013
2  2013         3              33217669903  Jul-Sept 2013
3  2013         4              22547130953   Oct-Dic 2013
4  2014         1              18393198881   Ene-Mar 2013

In [65]:
# Limpieza de la columna 'Año' en 'internet_accesos_tecnologia'
internet_accesos_tecnologia['Año'] = internet_accesos_tecnologia['Año'].str.extract('(\d+)', expand=False).astype(float)

# Verificar si hay valores nulos después de la conversión
print("Valores nulos en 'Año' después de la limpieza:", internet_accesos_tecnologia['Año'].isnull().sum())

Valores nulos en 'Año' después de la limpieza: 937

In [66]:
# Rellenar nulos con un año específico (por ejemplo, el más común)
common_year = internet_accesos_tecnologia['Año'].mode()[0]
internet_accesos_tecnologia['Año'].fillna(common_year, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_4140\905553991.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  internet_accesos_tecnologia['Año'].fillna(common_year, inplace=True)

In [67]:
# Asegurarse de que la columna 'Año' sea de tipo string para aplicar .str.extract
internet_accesos_tecnologia['Año'] = internet_accesos_tecnologia['Año'].astype(str)
internet_accesos_tecnologia['Año'] = internet_accesos_tecnologia['Año'].str.extract('(\d+)', expand=False).astype(float)

# Asegurarse de que la columna 'Trimestre' sea de tipo string para aplicar .str.extract
internet_accesos_tecnologia['Trimestre'] = internet_accesos_tecnologia['Trimestre'].astype(str)
internet_accesos_tecnologia['Trimestre'] = internet_accesos_tecnologia['Trimestre'].str.extract('(\d+)', expand=False).astype(float)

# Eliminar filas donde 'Año' o 'Trimestre' sean nulos
internet_accesos_tecnologia = internet_accesos_tecnologia.dropna(subset=['Año', 'Trimestre'])

# Convertir las columnas 'Año' y 'Trimestre' a tipo entero, si ya no contienen valores nulos
internet_accesos_tecnologia['Año'] = internet_accesos_tecnologia['Año'].astype(int)
internet_accesos_tecnologia['Trimestre'] = internet_accesos_tecnologia['Trimestre'].astype(int)

In [68]:
import os
import pandas as pd

# Obtener la ruta absoluta de la carpeta actual
base_path = os.getcwd()
processed_path = os.path.join(base_path, 'data', 'processed')

# Verificar si la carpeta "data/processed" existe; si no, crearla
if not os.path.exists(processed_path):
    os.makedirs(processed_path)

# Limpieza y conversión de columnas problemáticas en cada DataFrame

# 1. Limpieza de 'internet_tecnologia_localidad'
internet_tecnologia_localidad['Link Indec'] = pd.to_numeric(internet_tecnologia_localidad['Link Indec'], errors='coerce')

# Convertir las columnas de tipo 'object' a tipo string si es necesario
internet_tecnologia_localidad['Provincia'] = internet_tecnologia_localidad['Provincia'].astype(str)

# 2. Limpieza de 'internet_accesos_tecnologia'
# Convertir 'Provincia' a string en 'internet_accesos_tecnologia'
internet_accesos_tecnologia['Provincia'] = internet_accesos_tecnologia['Provincia'].astype(str)

# Limpieza de la columna 'Año' y 'Trimestre' en 'internet_accesos_tecnologia'
internet_accesos_tecnologia['Año'] = internet_accesos_tecnologia['Año'].astype(str).str.extract('(\d+)', expand=False).astype(float)
internet_accesos_tecnologia['Trimestre'] = internet_accesos_tecnologia['Trimestre'].astype(str).str.extract('(\d+)', expand=False).astype(float)

# Eliminar filas con valores nulos en 'Año' o 'Trimestre' tras la conversión
internet_accesos_tecnologia = internet_accesos_tecnologia.dropna(subset=['Año', 'Trimestre'])

# Convertir 'Año' y 'Trimestre' a tipo entero
internet_accesos_tecnologia['Año'] = internet_accesos_tecnologia['Año'].astype(int)
internet_accesos_tecnologia['Trimestre'] = internet_accesos_tecnologia['Trimestre'].astype(int)

# Guardado de los DataFrames en formato Parquet
internet_tecnologia_localidad.to_parquet(os.path.join(processed_path, 'internet_tecnologia_localidad.parquet'))
internet_totales_tecnologia.to_parquet(os.path.join(processed_path, 'internet_totales_tecnologia.parquet'))
internet_accesos_tecnologia.to_parquet(os.path.join(processed_path, 'internet_accesos_tecnologia.parquet'))
mapa_conectividad.to_parquet(os.path.join(processed_path, 'mapa_conectividad.parquet'))
telefonia_fija.to_parquet(os.path.join(processed_path, 'telefonia_fija.parquet'))
telefonia_movil.to_parquet(os.path.join(processed_path, 'telefonia_movil.parquet'))